.table tr th{
    background-color: #2c4975;
    color: white;
}

.obligatorio {
    color: red;
}

.title {
    font-family: 'Monotype Corsiva', serif; 
    font-size: 30px; 
    color: #efb810; 
}

.tagline {
    font-family: 'Monotype Corsiva  ', serif; 
    font-style: italic; 
    color: #efb810;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Barra de navegación principal */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f9fc;
    padding: 15px 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    color: #efb810;
    font-weight: bold;
    line-height: 1.2;
    white-space: nowrap;
}
.logo span {
    color: #efb810;
}
.logo small {
    display: block;
    font-size: 12px;
    color: #efb810;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}
.search-bar input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: #ffffff;
    font-size: 14px;
    color: #34495e;
}
.search-bar input::placeholder {
    color: #999999;
}
.search-bar button {
    background-color: #34495e;
    border: none;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

/* Íconos de navegación */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-icons a {
    text-decoration: none;
    font-size: 12px; /* Tamaño reducido */
    color: #ffffff;
    background-color: #34495e;
    padding: 6px 10px; /* Tamaño reducido */
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.nav-icons a i {
    margin-right: 3px; /* Espacio reducido entre ícono y texto */
}

/* Categorías de navegación */
.categories-container {
    background-color: #f5f9fc;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 5px;
}
.categories a {
    color: #34495e;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 0;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .search-bar {
        max-width: 300px;
        margin: 10px 0;
    }
    .categories {
        justify-content: center;
    }
}


.form-resgistro{
    max-width: 600px;
    margin: auto;
}

.top-bar {
    background-color: #f00;
    color: #efb810;
    text-align: center;
    padding: 1px ;
    font-size: 15px;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    white: 400px;
    padding: 10px;
}
.banner img {
    max-width: 20%;
    margin: 0 10px;
    border-radius: 5px;
}
footer {
    background-color: #f00;
    text-align: center;
    color: #efb810;
    padding: 15px 0;
    margin-top: 20px;
}