:root {
    --primary-color: #6a1b9a; /* Un tono púrpura oscuro */
    --secondary-color: #fdd835; /* Un tono dorado brillante */
    --highlight-pink: #ec407a; /* Rosado para resaltar */
    --light-bg: #f3e5f5; /* Fondo claro con un toque púrpura */
    --dark-bg: #311b92; /* Fondo oscuro en tono púrpura */
    --neutral-grey: #eeeeee; /* Gris claro para fondos y bordes */
    --accent-blue: #42a5f5; /* Azul suave para contrastes adicionales */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #1c1b29; 
}

.table tr th {
    background-color: var(--primary-color);
    color: white;
}

.obligatorio {
    color: var(--highlight-pink);
}

.form-resgistro{
    max-width: 600px;
    margin: 100%;
}

.title {
    font-family: 'Monotype Corsiva', serif;
    font-size: 30px;
    color: var(--secondary-color);
    display: block;
}

.tagline {
    font-family: 'Monotype Corsiva', serif;
    font-style: italic;
    color: var(--secondary-color);
    display: block;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--primary-color), #000000);
    padding: 15px 20px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-img {
    width: 200px;
    height: auto;
}

.logo .title {
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: bold;
}

.logo .tagline {
    font-size: 20px;
    font-style: italic;
    color: var(--secondary-color);
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid var(--neutral-grey);
    outline: none;
    background-color: white;
    font-size: 14px;
    color: var(--dark-bg);
}

.search-bar input::placeholder {
    color: #999999;
}

.search-bar button {
    background-color: var(--highlight-pink);
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 5px;
    position: absolute;
    right: -5px;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons a {
    
    font-size: 12px;
    color: #efb810;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.nav-icons a:hover {
    background-color: var(--highlight-pink);
    color: white;
}

.categories-container {
    background-color: var(--light-bg);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.categories {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.categories a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.categories a:hover {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .search-bar {
        max-width: 300px;
        margin: 10px 0;
    }
}

.top-bar {
    background-color: var(--highlight-pink);
    color: var(--secondary-color);
    text-align: center;
    padding: 5px 0;
    font-size: 15px;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}

.banner img {
    max-width: 20%;
    margin: 0 10px;
    border-radius: 5px;
}

footer {
    background-color: var(--highlight-pink);
    text-align: center;
    color: var(--secondary-color);
    padding: 15px 0;
    margin-top: 20px;
}
